* {
  margin: 0;
  padding: 0;
  background: none;
  touch-action: none;
  box-sizing: border-box;
}

main,
.tilt {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1vmin black;
  overflow: hidden;
}

.tilt {
  width: 95%;
  height: 95%;
}
.tilt > div {
}

nav,
footer {
  position: fixed;
  width: 100vw;
  height: 5vh;
  background-color: red;
}

footer {
  bottom: 0;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1.25vmin;
  text-decoration: none;
}
li a:hover {
  color: red;
}
